
.div1{
  float: left;
}
.div2{
  float: center;
}
.div3{
  float: left;
}
.div4{
  float: left;
}
.div5{
  float: left;
}

.div6{
  float: left;
}
.div7{
  float: left;
}
.div8{
  float: left;
}
.div9{
  float: left;
}
.div10{
  float: left;
}
